<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form action="#" [formGroup]="loginForm" (ngSubmit)="loginAction(loginForm)">
                        <input type="email" placeholder="Email Address" formControlName="email" />
                        <div *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">  
                            <span *ngIf="loginForm.controls['email'].hasError('required') "> Email is required  </span>
                            <span *ngIf="loginForm.controls['email'].hasError('email') "> Invalid email format  </span>
                        </div>  
                        
                        
                        <input type="text" placeholder="Enter Password" formControlName="password"/>
                        <div *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">  
                            <span *ngIf="loginForm.controls['password'].hasError('required') "> Password is required  </span>
                            <span *ngIf="loginForm.controls['password'].hasError('minlength') "> Password should be minimum 4 characters in length  </span>
                            <span *ngIf="loginForm.controls['password'].hasError('maxlength') "> Password should be 12 characters in length  </span>
                        </div>
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn" [disabled]='!loginForm.valid'>Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form action="#" [formGroup]="registerForm" (ngSubmit)="registerAction(registerForm)">
                        <input type="text" placeholder="Name" formControlName="name"/>
                        <div *ngIf="registerForm.controls['name'].touched && !registerForm.controls['name'].valid">  
                            <span *ngIf="registerForm.controls['name'].hasError('required') ">name is required</span>  
                            <span *ngIf="registerForm.controls['name'].hasError('pattern') ">Only Alpha space allowed</span>                                       
                        </div>
                        
                        <input type="email" placeholder="Email Address" formControlName="email"/>
                        <div *ngIf="registerForm.controls['email'].touched && !registerForm.controls['email'].valid">  
                            <span *ngIf="registerForm.controls['email'].hasError('required') ">  Email ID is required </span>
                            <span *ngIf="registerForm.controls['email'].hasError('email') ">Email ID invalid </span>  
                        </div>
                        
                        <input type="text" placeholder="Phone" formControlName="phone"/>
                        <div *ngIf="registerForm.controls['phone'].touched && !registerForm.controls['phone'].valid">  
                            <span *ngIf="registerForm.controls['phone'].hasError('required') "> phone is required</span>
                            <span *ngIf="registerForm.controls['phone'].hasError('pattern') ">Only 10 digits allowed</span>
                        </div>
                        
                        <input type="password" placeholder="Password" formControlName="password"/>
                        <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].valid">  
                            <span *ngIf="registerForm.controls['password'].hasError('required') ">  
                                password ID is required
                            </span>  
                            <span *ngIf="registerForm.controls['password'].hasError('minlength') "> Min Length 4 </span>
                            <span *ngIf="registerForm.controls['password'].hasError('maxlength') ">Max Length 12 </span>                                 
                        </div>
                        
                        <input type="password" placeholder="Confirm Password" formControlName="c_password"/>
                        <div *ngIf="registerForm.controls['c_password'].touched && !registerForm.controls['c_password'].valid">  
                            <span *ngIf="registerForm.controls['c_password'].hasError('required') "> Confirm Password ID is required</span> 
                            <span *ngIf="registerForm.controls['c_password'].hasError('minlength') ">Min Length 4 </span>
                            <span *ngIf="registerForm.controls['c_password'].hasError('maxlength') ">Max Length 12 </span> 
                            <span *ngIf="registerForm.controls['c_password'].hasError('mustMatch') ">Mismatch </span>                                 
                        </div>

                        <button type="submit" class="btn" [disabled]="!registerForm.valid">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->